:root {
	--main-color: #1fb35a;
	--main-color_light: #29d66e73;
	--main-color_dark: #3c924f;
	--sub-color: #3384ee;
	--sub-color_dark: #2867b9;
	--grey: #f6f6f6;
	--yellow: #fbda2f;
	--yellow_light: #fde04d;
	--yellow_dark: #dbbb1a;
	--red: #ff6565;
	--red_light: #ff7575;
	--red_dark: #e24040;
	--default-shadow: 0 1px 4px 0 rgba(21, 27, 38, 0.08);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-family: "Roboto", sans-serif;
	font-style: normal;

	color: #000000;
	background-color: #f0f7f0;
}

ul {
	list-style: none;
}
.container {
	max-width: 1240px;
	margin: auto;
	padding: 0 20px;
}

.btn {
	font-size: 18px;
	font-weight: bold;

	display: flex;
	align-items: center;
	align-items: center;

	padding: 20px 22px;

	cursor: pointer;
	transition: all ease 0.2s;

	color: #fff;
	border: 0;
	border-radius: 10px;
	background-color: var(--sub-color);
	box-shadow: var(--default-shadow);

	@media screen and (max-width: 680px) {
		padding: 15px;
	}
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: var(--sub-color_dark);
	}
	&_green {
		background-color: var(--main-color);
		&:focus {
			box-shadow: 0 0 0px 4px var(--main-color_light);
		}
		&:hover {
			background-color: var(--main-color_dark);
		}
	}
	&_yellow {
		background-color: var(--yellow);
		&:focus {
			box-shadow: 0 0 0px 4px var(--yellow_light);
		}
		&:hover {
			background-color: var(--yellow_dark);
		}
	}
	&_red {
		background-color: var(--red);
		&:focus {
			box-shadow: 0 0 0px 4px var(--red_light);
		}
		&:hover {
			background-color: var(--red_dark);
		}
	}
	img {
		max-height: 22px;
		margin-right: 11px;
	}
	&_s {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 35px;
		height: 35px;
		padding: 0;

		@media screen and (max-width: 520px) {
			width: 28px;
			height: 28px;

			border-radius: 5px;
		}
		img {
			max-width: 55%;
			max-height: 55%;
			margin: 0;
		}
	}
}

.checkbox {
	cursor: pointer;
	user-select: none;
	input {
		position: absolute;

		width: 0;
		height: 0;

		opacity: 0;
		&:checked ~ span {
			border: 1px solid var(--main-color);
			background: var(--main-color);
			& img {
				opacity: 1;
			}
		}
		&:focus ~ span {
			box-shadow: 0 0 0px 4px var(--main-color_light);
		}
	}
	span {
		display: flex;
		align-items: center;
		justify-content: center;

		box-sizing: border-box;
		width: 35px;
		height: 35px;

		transition: all ease 0.16s;

		border: 1px solid #ababab;
		border-radius: 5px;

		@media screen and (max-width: 520px) {
			width: 28px;
			height: 28px;
		}
		img {
			max-width: 55%;
			max-height: 55%;

			transition: all ease 0.16s;

			opacity: 0;
		}
	}
}

.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}
.page-enter {
	transform: translateX(30%);

	opacity: 0;
}
.page-leave-to {
	transform: translateX(-30%);

	opacity: 0;
}
